Django==2.2.17
djoser
jsonschema>=3.2,<3.3
psycopg2>=2.8,<2.9
djangorestframework>=3.10.0,<3.11.0
djangorestframework_simplejwt
djoser
django-environ
django-cors-headers
graphene-django
django-graphql-jwt
django-celery-beat==2.1.0
celery==5.0.5
redis
pillow
gunicorn
Markdown
dj-database-url
whitenoise==3.3.1
